
body {
background-color: lightblue;
}


#Chicken {
	background-color: grey;
	border: 2px solid black;
	border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;
}
#Chicken p{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 7px;
}

#Beef {
	background-color: grey;
	border: 2px solid black;
	border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 10px;
}
#Beef p{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 7px;
}

#Sushi {
	background-color: grey;
	border: 2px solid black;
	border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
}
#Sushi p{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 7px;
}

.header-nav{
	background-color: lightyellow;
    border: 0;
}
.navbar-brand h1{
	margin-top: -10px;
	margin-left: 15px;
	color: darkblue;
	font-family: verdana;
}   
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: white;
	text-align: center;
}

#nav-list a:hover {
	background: yellow;
}
h2 {
	color: orange;
	font-family: verdana;
	padding-top: 40px;
	padding-bottom: 20px;

}
h3 {
	font-size: 20px;
    text-align: center;
    color: black;
    font-family: verdana;
}



